// Estilos página de contacto

.contact-form {
    .contact-form-content {
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        @media screen and (min-width: 1200px){
            width: 80%;
        }
        .title-section {
            position: relative;
            text-align: center;
            text-align: center;
            padding-bottom: 100px;
            margin-bottom: 65px;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 80px;
                background-image: url(/assets/images/contacto-separador.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .contact-box {
            .mark{
                color: #014C35;
                border: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                .form-control{
                    margin-bottom: 15px;
                    width: 100%;            
                    .subtitle-form{
                        display: block;
                        @media screen and (min-width:1300px) {
                            margin-left: 35mm; 
                        }
                    }
                    .email-form{
                        display: block;
                        @media screen and (min-width:1300px) {
                            margin-left: 10mm; 
                        }
                    }
                    &.half-control{
                        width: 100%;
                        @media screen and (min-width:768px) {
                            width: 50%;  
                        }
                    }            
                    .email{
                        background:rgba(16, 178, 101, 0.58);
                        border: 1px solid #ffffff;
                        border-radius: 9px;
                        border: 1px solid #014C35;
                        width: 340px;
                        height: 35.12px;
                        @media screen and(min-width:768px) {
                            width: 353px;
                            height: 48.4px;
                        }
                        @media screen and(min-width: 1300px) {
                            width: 545px;
                            height: 48.4px;
                            margin-left: 7mm;
                        }            
                    }
                    .message{
                        background:rgba(16, 178, 101, 0.58);
                        border: 1px solid #ffffff;
                        border-radius: 9px;
                        border: 1px solid #014C35;
                        width: 340px;
                        height: 67.91px;
                        font-family: 'Poppins', sans-serif;
                        @media screen and(min-width:768px){
                            width: 730px;
                            height: 90.52px;
                        }
                        @media screen and(min-width:1300px){
                            width: 1104px;
                            height: 90.52px;
                            margin-left: 35mm;                            
                        }
                    }
                    .name-contact{
                        background:rgba(16, 178, 101, 0.58);
                        border: 1px solid #ffffff;
                        border-radius: 9px;
                        border: 1px solid #014C35;
                        width: 340px;
                        height: 35.12px;
                        font-family: 'Poppins', sans-serif;
                        @media screen and(min-width:768px) {
                            width: 353px;
                            height: 48.4px;
                        }
                        @media screen and(min-width:1300px) {
                            width: 545px;
                            height: 48.4px;
                            margin-left: 35mm;
                        }
            
                    }
                    
                }
                .buttonc{
                    background-color: #AD081B;
                    border-radius: 20.5px;
                    border-color: rgba(218, 169, 66, 1);
                    width: 110px;
                    height: 36.75px;
                    text-decoration: none;
                    color: #E5EDF5;
                    font-family: 'Poppins', sans-serif;
                    @media screen and(min-width:1300px) {
                        font-size: 15px;
                        margin-left: 35mm;
                    }
                
                }                
            }
        }
    }
}