// Estilos página de preguntas frecuentes
.faqs{
    text-align: center;
    color: #014C35;    
}
.bells{
    width: 100%;
    margin: 0 auto;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

//.faqs-grid {}

.faqs-item {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
    background-color: rgba(1, 76, 53, 1);
}

.faqs-title {
    display: flex;
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    outline: none;
    transition: 0.4s;
}

.faqs-title.active,
.faqs-title:hover {
    background-color: rgba(173, 8, 27, 1);
}

.faqs-title:after {
    content: '\002B';
    color: #fff;
    font-weight: normal;
    float: right;
    margin-left: auto;
    font-size: 24px;
    line-height: 1;
    padding-left: 20px;
}

.faqs-title.active:after {
    content: "\2212";
}

.faqs-content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faqs-content-inside {
    padding: 20px;
    color: #FFF;
}