// Estilos página de terminos y condiciones
.terms{
    text-align: center;
    color: #014C35;
    margin-top: 25px;
}
.church{
    width: 100%;
    margin: 0 auto;
.content{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 65px;
    }
}
.back {
    background-color: #AD081B;
    border-radius: 20.5px;
    border-color: rgba(218, 169, 66, 1);
    width: 110px;
    height: 36.75px;
    text-decoration: none;
    color: #E5EDF5;
    font-family: 'Poppins', sans-serif;
}