// Header
@import "../utilities/variables";

// header {
//     position: fixed;
//     background: $color-rojo;
//     width: 100%;
//     padding: 15px 25px;
//     box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
//     z-index: 2;
//     nav {
//         display: flex;
//         align-items: center;
//         align-content: center;
//         justify-content: space-between;
//         .logo {
//             width: 20%;
//             max-width: 130px;
//             img {
//                 width: 100%;
//             }
//         }
//         .navbar.active {
//             transform: translate(0%, 0%);
//             left: 0;
//         }
//         ul {
//             li {
//                 line-height: 45px;
//                 a {
//                     text-decoration: none;
//                     text-transform: uppercase;
//                     transition: all .3s ease;
//                     position: relative;
//                 }
//                 &.option-menu {
//                     color: #FFF;
//                     font-weight: bold;
//                 }
//                 &::before {
//                     content: '';
//                     width: 0;
//                     height: 3px;
//                     background-color: #FFF;
//                     transition: width .3s ease;
//                     position: absolute;
//                     bottom: -4px;
//                 }
//                 &:hover, .active {
//                     &::before {
//                         width: 100%;
//                     }
//                 }
//             }
//         }
        
//     }
// }

header {
    position: fixed;
    background: $color-rojo;
    width: 100%;    
    box-shadow: 0px 2px 9px rgb(0 0 0 / 20%);
    z-index: 2;
    nav {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        position: relative;
        padding: 15px 25px;
        .logo {
            width: 30%;
            max-width: 130px;
            @media screen and (min-width: 1200px) {
                width: 20%;
                max-width: 180px;
            }
            img {
                width: 100%;
            }
        }
        ul {
            list-style: none;
            top: 43px;
            background: $color-rojo;
            width: 100%;
            padding: 35px;
            left: 0;
            position: absolute;
            transition: transform .3s ease;
            transform: translate(100%, 0%);
            text-align: center;
            @media screen and (min-width: 1200px) {
                list-style: none;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                width: 50%;
                background: transparent;
                top: 0;
                position: relative;
                transform: none;
            }
            li {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: all .3s ease;
                    position: relative;
                    color: $color-amarillo;
                    line-height: 35px;
                    font-weight: 500;
                    &::before {
                        content: '';
                        width: 0;
                        height: 3px;
                        background-color: $color-dorado;
                        transition: width .3s ease;
                        position: absolute;
                        bottom: -4px;
                        border-radius: 5px;
                    }
                    &:hover {
                        &::before {
                            width:80%;
                        } 
                    }
                    .active {
                        &::before {
                            width: 100%;
                        }
                    }
                }
                
            }
            &.active {
                transform: translate(0%, 0%);
                left: 0;
            }
        }
        
        .only-mobile.control {
            position: absolute;
            height: 30px;
            width: 30px;
            right: 25px;
            top: 50%;
            transform: translate(0%, -50%);
            .icon {
                height: 30px;
                width: 30px;
                span {
                    cursor: pointer;
                    border-radius: 6px;
                    height: 3px;
                    width: 30px;
                    background: $color-dorado;
                    position: absolute;
                    display: block;
                    margin-top: 45%;
                    margin-left: 0;
                    content: '';
                    &::before,
                    &::after {
                        cursor: pointer;
                        border-radius: 6px;
                        height: 3px;
                        width: 30px;
                        background: $color-dorado;
                        position: absolute;
                        display: block;
                        content: '';
                    }
                    &::after {
                        bottom: -8px;
                    }
                    &::before {
                        top: -8px;
                    }
                }
                &.active {
                    span {
                        background-color: transparent;
                        -webkit-transform: rotate(180deg) scale(1.2);
                        -moz-transform: rotate(180deg) scale(1.2);
                        -o-transform: rotate(180deg) scale(1.2);
                        -ms-transform: rotate(180deg) scale(1.2);
                        transform: rotate(180deg) scale(1.2);
                        margin-top: 50%;
                        &::before,
                        &::after {
                            top: 2px;
                            background: $color-dorado;
                            width: 25px;
                            margin-left: 2px;
                            height: 2px;
                        }
                        &::after {
                            -webkit-transform: rotate(-135deg) scale(1.2);
                            -moz-transform: rotate(-135deg) scale(1.2);
                            -o-transform: rotate(-135deg) scale(1.2);
                            -ms-transform: rotate(-135deg) scale(1.2);
                            transform: rotate(-135deg) scale(1.2);
                        }
                        &::before {
                            -webkit-transform: rotate(135deg) scale(1.2);
                            -moz-transform: rotate(135deg) scale(1.2);
                            -o-transform: rotate(135deg) scale(1.2);
                            -ms-transform: rotate(135deg) scale(1.2);
                            transform: rotate(135deg) scale(1.2);
                        }
                    }
                }
            }
        }
        
    }
}