@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  position: fixed;
  background: #AD081B;
  width: 100%;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
header nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  position: relative;
  padding: 15px 25px;
}
header nav .logo {
  width: 30%;
  max-width: 130px;
}
@media screen and (min-width: 1200px) {
  header nav .logo {
    width: 20%;
    max-width: 180px;
  }
}
header nav .logo img {
  width: 100%;
}
header nav ul {
  list-style: none;
  top: 43px;
  background: #AD081B;
  width: 100%;
  padding: 35px;
  left: 0;
  position: absolute;
  transition: transform 0.3s ease;
  transform: translate(100%, 0%);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 50%;
    background: transparent;
    top: 0;
    position: relative;
    transform: none;
  }
}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: relative;
  color: #F0E290;
  line-height: 35px;
  font-weight: 500;
}
header nav ul li a::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #DAA942;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -4px;
  border-radius: 5px;
}
header nav ul li a:hover::before {
  width: 80%;
}
header nav ul li a .active::before {
  width: 100%;
}
header nav ul.active {
  transform: translate(0%, 0%);
  left: 0;
}
header nav .only-mobile.control {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 25px;
  top: 50%;
  transform: translate(0%, -50%);
}
header nav .only-mobile.control .icon {
  height: 30px;
  width: 30px;
}
header nav .only-mobile.control .icon span {
  cursor: pointer;
  border-radius: 6px;
  height: 3px;
  width: 30px;
  background: #DAA942;
  position: absolute;
  display: block;
  margin-top: 45%;
  margin-left: 0;
  content: "";
}
header nav .only-mobile.control .icon span::before, header nav .only-mobile.control .icon span::after {
  cursor: pointer;
  border-radius: 6px;
  height: 3px;
  width: 30px;
  background: #DAA942;
  position: absolute;
  display: block;
  content: "";
}
header nav .only-mobile.control .icon span::after {
  bottom: -8px;
}
header nav .only-mobile.control .icon span::before {
  top: -8px;
}
header nav .only-mobile.control .icon.active span {
  background-color: transparent;
  transform: rotate(180deg) scale(1.2);
  margin-top: 50%;
}
header nav .only-mobile.control .icon.active span::before, header nav .only-mobile.control .icon.active span::after {
  top: 2px;
  background: #DAA942;
  width: 25px;
  margin-left: 2px;
  height: 2px;
}
header nav .only-mobile.control .icon.active span::after {
  transform: rotate(-135deg) scale(1.2);
}
header nav .only-mobile.control .icon.active span::before {
  transform: rotate(135deg) scale(1.2);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #018251;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: bold;
  font-size: 32px;
}

.only-mobile {
  display: block;
}
@media screen and (min-width: 1200px) {
  .only-mobile {
    display: none;
  }
}

.only-desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .only-desktop {
    display: block;
  }
}

footer {
  padding: 30px;
  background-color: #002436;
}
footer .top-info {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  footer .top-info {
    flex-direction: row;
  }
}
footer .top-info .bloq-top {
  width: 100%;
  margin-bottom: 35px;
}
@media screen and (min-width: 1200px) {
  footer .top-info .bloq-top {
    width: 33.333%;
  }
}
footer .top-info .bloq-top:first-child {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  footer .top-info .bloq-top:first-child {
    text-align: left;
  }
}
footer .top-info .bloq-top ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 35px;
  color: #F0E290;
  text-align: center;
}
footer .top-info .bloq-top ul li i {
  margin-right: 5px;
}
footer .top-info .bloq-top ul li a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}
footer .top-info .bloq-top ul li:hover {
  color: #AD081B;
}
footer .top-info .bloq-top .rrss {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: #F0E290;
}
footer .top-info .bloq-top .rrss ul {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
footer .top-info .bloq-top .rrss ul li a {
  display: block;
  background: #DAA942;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  color: #002436;
  transition: all 0.3s ease;
}
footer .top-info .bloq-top .rrss ul li a i {
  margin: 0;
}
footer .copy {
  margin-top: 0px;
}
footer .copy p {
  text-align: center;
  margin: 0;
  color: #F0E290;
  opacity: 0.7;
  min-width: none;
}

.contenedor {
  background-color: rgb(245, 126, 126);
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.contenedor .titulo {
  color: green;
  text-align: center;
}
.contenedor .responsive-img {
  width: 100%;
  height: auto;
}

.contenedor-imagen {
  width: 100%;
  height: auto;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact {
  text-align: center;
  color: #014C35;
}

.mark {
  color: #014C35;
  border: none;
}

.email {
  background: rgba(1, 130, 81, 0.58);
  border: 1px solid #ffffff;
  border-radius: 16px;
}

.buttonc {
  background-color: #AD081B;
  border-radius: 20.5px;
  border-color: rgb(218, 169, 66);
  width: 145px;
  height: 36.75px;
}

.direction {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: left;
  justify-content: space-evenly;
  padding: 3px;
  margin-right: 5mm;
}/*# sourceMappingURL=main.css.map */